.fund-requests {
	flex: 4;
	background-color: $primaryBg;
	margin: {
		top: 10px;
		left: 20px;
		bottom: 15px;
		right: 10px;
	}
	@include responsive(765px) {
		// position: relative;
	}
	.search-box-1 {
		@include flexVertical;
		color: $secondaryColor;
		border: {
			bottom: 1px solid $borderColor;
		}
		padding: {
			top: 10px;
			left: 5px;
			bottom: 15px;
		}

		.search-icon {
			margin-right: 20px;
		}
		input {
			border: none;
			outline: none;
			color: $secondaryColor;
			width: 100%;
			padding: 10px;
		}
	}

	h1 {
		color: $primaryColor;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 25px;
	}

	.search-box-2 {
		@include flexCenter;
		background-color: $secondaryBg;
		padding: 15px 10px;
		@include responsive(768px) {
			flex-direction: column;
		}

		.search-wrapper {
			@include flexVertical;
			width: 100%;
			background-color: $primaryBg;
			margin-right: 10px;
			border-radius: 5px;
			padding-left: 10px;
			color: $searchColor;
			border: 0.5px solid #827f7f45;
			margin: 5px;

			input {
				width: 100%;
				border: none;
				outline: none;
				font-size: 16px;
				padding: 10px 8px;
				color: $searchColor;
			}
			select {
				width: 100%;
				border: none;
				outline: none;
				font-size: 16px;
				padding: 10px 8px;
				color: $searchColor;
			}
		}
		button {
			border: none;
			outline: none;

			padding: 10px 50px;
			border-radius: 5px;
			font-size: 16px;
			color: white;
			background-color: $buttonSecondary;
			cursor: pointer;
			margin-top: 5px;
			@include responsive(768px) {
				width: 100%;
			}
		}
	}

	.requested-users {
		table {
			width: 100%;

			border-collapse: collapse;
			border-spacing: 0;
			overflow: scroll;
			@include responsive(768px) {
			}
			tr {
				border-bottom: 0.5px solid $borderColor;
			}

			th {
				font-weight: 600;
				color: $primaryColor;
			}
			th,
			td {
				text-align: left;
				padding: 3px;
				padding-left: 15px;
				padding-bottom: 10px;
				padding-top: 15px;
			}
			td {
				color: $primaryColor;
				font-size: 17px;
			}
		}

		.user-name-cont {
			@include flexVertical;
			padding: {
				top: 15px;
				bottom: 10px;
			}

			.name-info {
				flex-direction: column;
			}
			h3 {
				color: $primaryColor;
				font-weight: 500;
				font-size: 1.2rem;
			}
			p {
				color: $secondaryColor;
				font-size: 14px;
				margin-top: 5px;
			}

			.img {
				@include avatarBg(#fed0dc, #de4c71);
				@include flexCenter;
				border-radius: 50%;
				width: 43px;
				height: 43px;
				font-weight: bold;
			}
		}
	}
}
